@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-neutral-300 transition-all duration-300;
  }

  input {
    @apply outline-none rounded-lg w-full shadow-md text-lg px-4 md:basis-[80%] grow py-3 mb-3;
  }

  label {
    @apply uppercase tracking-wide font-bold text-xs sm:text-sm md:text-base     md:basis-[20%] grow;
  }

  li {
    cursor: pointer;
  }
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  .modal {
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    transition: all 0.5s;

    @apply fixed rounded-lg shadow-lg bg-slate-100/50 text-black backdrop-blur-sm;
  }

  *::-webkit-scrollbar {
    width: 10px;
    transition: all 1s;
  }

  *::-webkit-scrollbar-track {
    background: rgba(94, 95, 93, 0.774);
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 69, 2);
    transition: color 2s ease-in;
  }
}
