@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-neutral-300 transition-all duration-300;
  }

  li {
    cursor: pointer;
  }
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
  .pin li {
    @apply mb-9;
  }
  *::-webkit-scrollbar {
    width: 12px;
    transition: all 1s;
  }

  *::-webkit-scrollbar-track {
    background: rgba(94, 95, 93, 0.774);
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 69, 2);
    transition: color 2s ease-in;
  }
}
